.card-wrapper {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: 400px;
    cursor: default !important;
}

.card-text-diff {
    color: black;
    font-weight: bolder;
}

.card-text-time {
    color: black;
}

.card-text-exercises {
    color: black;
    font-size: 20px;
}