.home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.console-title {
    margin-bottom: 5%;
}

.task-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.button-link {
    text-decoration: none;
    color: #e4a11b;
}